@import "variables.scss";

#editor-panel {
    position: fixed;
    top: $toolbar-height;
    bottom: $console-height;
    left: 0px;
    right: 0px;

    #editor-panel-body {
        height: 100%;
        padding: 5px;

        #editor {
            height: 100%;
        }
    }
}
