html, body {
    height: 100vh;
    color: #eeeeee;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.panel-default {
    border: 0;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    background-color: #1e1e1e;
}

.panel-body {
    padding: 0px;
    background-color: #1e1e1e;
}

.btn-default {
    border-radius: 0px;
    border: 0px;
    background-color: #1e1e1e;
    color: #5a5a5a;
}

.btn-default:hover {
    border-radius: 0px;
    border: 0px;
    background-color: #1e1e1e;
    color: #eeeeee
}

.glyphicon-toolbar {
    font-size: 1.5em;
}

#toolbar-panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 38px;
    box-shadow: 0 0px 6px 2px #000;
    z-index: 3;
}

#toolbar-panel-body {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
