html, body {
    background-color: #535760;
}

body {
    font: caption;
}

.btn-default {
    border-radius: 0px;
    border: 0px;
    background-color: #535760;
    color: #747881;

    &:hover {
        background-color: #535760;
        color: #FAFBFC;
    }
}
