html, body {
    height: 100vh;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.panel-default {
    border: 0;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    background-color: #1e1e1e;
}

.panel-body {
    padding: 0px;
    background-color: #1e1e1e;
}

.btn-default {
    border-radius: 0px;
    border: 0px
}


.glyphicon-toolbar {
    font-size: 1.5em;
}

#toolbar-panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 38px;
    box-shadow: 0 0px 6px 2px #000;
    z-index: 2;
}

#toolbar-panel-body {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#editor-panel {
    position: fixed;
    top: 38px;
    bottom: 200px;
    left: 0;
    right: 0;
}

#editor-panel-body {
    height: 100%;
    padding: 5px;
}

#console-panel {
    position: fixed;
    padding: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    box-shadow: 0 0px 6px 2px #000;
    z-index: 2;
}

#editor {
    height: 100%;
}

.btn-toolbar {
    background-color: #1e1e1e;
    color: #5a5a5a;
}

.btn-toolbar:hover {
    background-color: #1e1e1e;
    color: #eeeeee
}

#console {
    font-family: Consolas,monaco,monospace;
    color: #eeeeee;
    font-weight: lighter;
    font-size: 0.9em;
}

.console-text-red {
   color: red; 
}

.console-text-yellow {
   color: yellow; 
}

.console-text-green {
   color: green; 
}

.console-text-magenta {
   color: magenta; 
}

.console-text-blue {
   color: blue; 
}

.console-text-gray {
   color: gray; 
}

.console-text-bold {
    font-weight: bold;
}
