$background-color: #1e1e1e;
$foreground-color: #fafbfc;
$accent-color: #5a5a5a;

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: $background-color;
    -webkit-app-region: no-drag;
}

body {
    font: caption;
    color: $accent-color;
    cursor: default;
    overflow: hidden;
    -webkit-user-select: none;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.panel-default {
    border: 0px;
    margin: 0px;
    background-color: $background-color;

    .panel-body {
        padding: 0px;
    }
}

.btn-default {
    border-radius: 0px;
    border: 0px;
    background-color: $background-color;
    color: $accent-color;

    &:focus {
        background-color: $background-color;
        color: $accent-color;
    }

    &:hover {
        background-color: $background-color;
        color: $foreground-color;
    }
}

.bordered {
    border-color: #181818;
    border-style: solid;
}

.text-red { color: red; }
.text-yellow { color: yellow; }
.text-green { color: green; }
.text-magenta { color: magenta; }
.text-blue { color: blue; }
.text-gray { color: gray; }
.text-bold { font-weight: bold; }
