.draggable {
  -webkit-app-region: drag; }

.vert-center {
  display: flex;
  align-items: center; }

.horiz-center {
  text-align: center; }

.vert-padding {
  height: 1em; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.full-size {
  height: 100%;
  width: 100%; }
