.wrapper {
  display: flex;
  align-items: stretch; }

#sidebar {
  min-height: 100vh;
  text-align: center;
  border-width: 2px; }
  #sidebar .sidebar-icon {
    font-size: 1.5em; }

#titlebar {
  padding: 5px 5px 5px 75px; }

#editor-panel {
  width: 100%;
  height: 70vh;
  border-width: 2px 0px 0px 0px; }
  #editor-panel #editor-panel-body {
    height: 100%; }
    #editor-panel #editor-panel-body #editor {
      height: 100%; }

#console {
  border-width: 2px 0px 0px 0px;
  max-height: 30vh;
  min-height: 30vh;
  width: 100vw; }
