html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #1e1e1e;
  -webkit-app-region: no-drag; }

body {
  font: caption;
  color: #5a5a5a;
  cursor: default;
  overflow: hidden;
  -webkit-user-select: none; }

.container-fluid {
  margin: 0px;
  padding: 0px;
  overflow: hidden; }

.panel-default {
  border: 0px;
  margin: 0px;
  background-color: #1e1e1e; }
  .panel-default .panel-body {
    padding: 0px; }

.btn-default {
  border-radius: 0px;
  border: 0px;
  background-color: #1e1e1e;
  color: #5a5a5a; }
  .btn-default:hover {
    background-color: #1e1e1e;
    color: #fafbfc; }
